<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trackeet</title>
</head>

<body style="font-family: 'Satoshi', sans-serif; margin: 0; padding: 0; background-color: #f6f6f6;">

    <div style="width: 100%; max-width: 600px; margin: 0 auto; padding: 40px 24px 120px; background: #ffffff; box-sizing: border-box;">
        <!-- Logo Section -->
        <div style="display: flex; justify-content: center; align-items: center; margin-bottom: 32px;">
            <img src="https://res.cloudinary.com/dwu1klroh/image/upload/v1732090563/Logomark_2_uyfygp.jpg" alt="Logo" style="width: 92.15px; height: auto;">
        </div>

        <!-- Content Section -->
        <div>
            <p style="color: #334155; font-size: 16px; font-weight: 500; line-height: 24px; margin: 0 0 16px;">
                Hi {{personalName}},
            </p>
            <p style="color: #334155; font-size: 16px; font-weight: 500; line-height: 24px; margin: 0 0 16px;">
                Please verify your email address to complete your account setup.
            </p>
            <p style="color: #334155; font-size: 16px; font-weight: 500; line-height: 24px; margin: 0 0 32px;">
                This link will expire in 24 hours. If you didn't create an account, you can safely ignore this email.
            </p>

            <!-- Button --> 
            <a href="{{url}}" style="display: inline-block; padding: 10px 32px; background-color: #1D4ED8; color: #ffffff; font-size: 16px; font-weight: 700; line-height: 24px; text-decoration: none; border-radius: 4px; text-align: center;">
                Verify Email
            </a>
        </div>

        <!-- Footer Section -->
        <div style="margin-top: 40px; color: #334155; font-size: 14px; font-weight: 500; line-height: 20px; text-align: center;">
            © Trackeet. All rights reserved.
        </div>
    </div>

</body>

</html>
